.vroom {
  border: 1px solid black;
  background-color: #3498db;
  position: absolute;
  width: 300px;
  height: auto;
  z-index: 5;
  left: 64px;
  bottom: 64px;
}

.vroom-area {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.vroom-detail {
  color: #ccc;
}

.vroom-local {
  position: absolute;
  background-color: red;
  width: 4px;
  height: 4px;
}

.vroom-remote {
  position: absolute;
  background-color: blue;
  width: 4px;
  height: 4px;
}
